<a href="https://colab.research.google.com/github/lovvmg/personal-project/blob/main/Latihan_seleksi_AITF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pengolahan data transaksi sederhana

In [ ]:
transaksi = [
    "U001:Buku:50000",
    "U002:Pensil:5000",
    "U001:Pulpen:10000",
    "U003:Penghapus:2000",
    "U002:Buku:50000"
]

def summary_transaksi(y):
  results = {}

  for item in y:
    parts = item.split(":") # pakai split untuk memotong teks berdasarkan karakter tertentu (misalnya titik dua :) dan mengubahnya menjadi List.
    user_id = parts[0]
    harga = int(parts[2]) # remember to change it into integer

    if user_id in results:
      results[user_id] += harga
    else:
      results[user_id] = harga


  return results

summary_transaksi(transaksi)

{'U001': 60000, 'U002': 55000, 'U003': 2000}

In [ ]:
data_suara = [
    "Budi-Jakarta-500",
    "Ani-Surabaya-300",
    "Budi-Bandung-200",
    "Cipto-Medan-150",
    "Ani-Jakarta-400"
]

def hitung_suara(data_suara):
  result = {}
  for i in data_suara:
    part = i.split('-')
    nama = part[0]
    domisili = part[1]
    jumlah_suara = int(part[2])

    if nama in result:
      result[nama] += jumlah_suara
    else:
      result[nama] = jumlah_suara

  return result

hitung_suara(data_suara)

{'Budi': 700, 'Ani': 700, 'Cipto': 150}

data cleaning and agregation

In [ ]:
import pandas as pd
import numpy as np

data = {
    'Siswa': ['Ali', 'Budi', 'Citra', 'Deni', 'Eka', 'Fani'],
    'Kelas': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Nilai': [80, np.nan, 90, 70, 85, np.nan]
}
df = pd.DataFrame(data)

def proses_nilai(df):
  rata_rata = df['Nilai'].mean() #df['Nilai'] --> kolom nilai

  df['Nilai'] = df['Nilai'].fillna(rata_rata)

#groupby : mengelompokkan data berdasarkan kategori tertentu
  results = df.groupby('Kelas')['Nilai'].mean() #mengelompokkan berdasarkan kelas lalu ambil kolom nilai, lalu cari rata2nya
  return results

proses_nilai(df)

Kelas
A    82.083333
B    80.416667
Name: Nilai, dtype: float64

In [ ]:
import pandas as pd
import numpy as np

data = {
    'Produk': ['Laptop', 'Mouse', 'Laptop', 'Keyboard', 'Mouse'],
    'Gudang': ['A', 'A', 'B', 'A', 'B'],
    'Stok': [10, 50, np.nan, 20, np.nan] # Ada NaN!
}
df = pd.DataFrame(data)

def stok(df):
  df['Stok'] = df['Stok'].fillna(0)

  result = df.groupby('Produk')['Stok'].sum()
  return result

stok(df)

Produk
Keyboard    20.0
Laptop      10.0
Mouse       50.0
Name: Stok, dtype: float64

calculate Euclidean Distance

In [ ]:
import math

def hitung_jarak(a,b):
  return math.sqrt(sum((x-y)**2 for x,y in zip (a,b)))

hitung_jarak([1,2,3],[4,6,8])

7.0710678118654755

In [ ]:
import math

def jumlah_selisih_mutlak(a,b):
  return sum(abs(x - y) for x,y in zip(a,b))

jumlah_selisih_mutlak([1,2,3],[4,5,6])

9

In [17]:
import pandas as pd
import numpy as np

df = pd.read_csv('shopbehave.csv')
print(df)
#cek data kosong
#print(df.isnull().sum())

rata_belanja = df.groupby('Gender')['Purchase Amount (USD)'].mean()
print(f"\naverage spending by gender : \n{rata_belanja}")

df['Code'] = np.where(df['Promo Code Used'] == 'Yes',1,0)

penggunaan_promo = df.groupby('Gender')['Code'].sum()
print(f"\nstatistic people who use promo code \n{penggunaan_promo}")


df['transaction'] = np.where(df['Gender'] == 'Male',1,1)
gender = df.groupby('Gender')['transaction'].sum()
print(f"\nwho buy more : \n{gender}")

payment_favorite = df['Payment Method'].mode()[0]
print(f"\nthe favorite payment method is {payment_favorite}\n")

b = df.groupby('Gender')['Purchase Amount (USD)'].agg(['min','max','mean'])
print(b)

# index = Baris (mau dikelompokkan berdasarkan apa?)
# columns = Kolom (data apa yang mau dijadikan judul kolom?) -> Di sini 'Gender'
# values = Nilai (angka apa yang mau dihitung?)
# aggfunc = Rumus (mean/sum/count)


tabel_pivot = df.pivot_table(index='Category',
                             columns='Gender',
                             values='transaction',
                             aggfunc='sum')

print(f"\n{tabel_pivot}")

      Customer ID  Age  Gender Item Purchased     Category  \
0               1   55    Male         Blouse     Clothing
1               2   19    Male        Sweater     Clothing
2               3   50    Male          Jeans     Clothing
3               4   21    Male        Sandals     Footwear
4               5   45    Male         Blouse     Clothing
...           ...  ...     ...            ...          ...
3895         3896   40  Female         Hoodie     Clothing
3896         3897   52  Female       Backpack  Accessories
3897         3898   46  Female           Belt  Accessories
3898         3899   44  Female          Shoes     Footwear
3899         3900   52  Female        Handbag  Accessories

      Purchase Amount (USD)       Location Size      Color  Season  \
0                        53       Kentucky    L       Gray  Winter
1                        64          Maine    L     Maroon  Winter
2                        73  Massachusetts    S     Maroon  Spring
3                        90   Rhode Island    M     Maroon  Spring
4                        49         Oregon    M  Turquoise  Spring
...                     ...            ...  ...        ...     ...
3895                     28       Virginia    L  Turquoise  Summer
3896                     49           Iowa    L      White  Spring
3897                     33     New Jersey    L      Green  Spring
3898                     77      Minnesota    S      Brown  Summer
3899                     81     California    M      Beige  Spring

      Review Rating Subscription Status   Shipping Type Discount Applied  \
0               3.1                 Yes         Express              Yes
1               3.1                 Yes         Express              Yes
2               3.1                 Yes   Free Shipping              Yes
3               3.5                 Yes    Next Day Air              Yes
4               2.7                 Yes   Free Shipping              Yes
...             ...                 ...             ...              ...
3895            4.2                  No  2-Day Shipping               No
3896            4.5                  No    Store Pickup               No
3897            2.9                  No        Standard               No
3898            3.8                  No         Express               No
3899            3.1                  No    Store Pickup               No

     Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
0                Yes                  14          Venmo            Fortnightly
1                Yes                   2           Cash            Fortnightly
2                Yes                  23    Credit Card                 Weekly
3                Yes                  49         PayPal                 Weekly
4                Yes                  31         PayPal               Annually
...              ...                 ...            ...                    ...
3895              No                  32          Venmo                 Weekly
3896              No                  41  Bank Transfer              Bi-Weekly
3897              No                  24          Venmo              Quarterly
3898              No                  24          Venmo                 Weekly
3899              No                  33          Venmo              Quarterly

[3900 rows x 18 columns]

average spending by gender :
Gender
Female    60.249199
Male      59.536199
Name: Purchase Amount (USD), dtype: float64

statistic people who use promo code
Gender
Female       0
Male      1677
Name: Code, dtype: int64

who buy more :
Gender
Female    1248
Male      2652
Name: transaction, dtype: int64

the favorite payment method is PayPal

        min  max       mean
Gender
Female   20  100  60.249199
Male     20  100  59.536199

Gender       Female  Male
Category
Accessories     392   848
Clothing        556  1181
Footwear        199   400
Outerwear       101   223